
# if some of the following gets included, check the tests and fixtures as 
# they have to be included as well

graft animio/test

recursive-include doc *.py makedoc
graft animio/doc/source
prune animio/doc/source/generated


include AUTHORS
include README

# minimal mrv with enough support for own unittests, skipping the mrv ones though
graft animio/ext
prune ext/mrv/coverage

# mrv testing
prune animio/ext/mrv/test
graft animio/ext/mrv/test/bin
graft animio/ext/mrv/test/cmd
include animio/ext/mrv/test/maya/util.py
include animio/ext/mrv/test/maya/__init__.py
include animio/ext/mrv/test/__init__.py
graft animio/ext/mrv/test/lib

# mrv docs
prune ext/mrv/doc

# general handling
global-exclude .git*
global-exclude *.pyc
global-exclude *.version_info
